#**
@author Marvin Kickuth
*#
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>mthesis map</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="css/map.css" />
</head>
<body>

<div class="sidenav">
    <form action=""> ## TODO (?) method="post">
        <input id="algo_sp" type="checkbox" name="algo_sp" value="sp" checked><label for="algo_sp">shortest path</label><br>
        <input id="algo_ng" type="checkbox" name="algo_ng" value="ng" checked><label for="algo_ng">naive greedy</label><br>
        <input id="algo_ot" type="checkbox" name="algo_ot" value="ot"><label for="algo_ot">other</label><br><br>
        <label>
            max distance:<br>
            <input id="max_dist" type="number" step="0.01" min="0" style="width: 35%;" name="max_dist" value="$solver.getMaxDistanceKM()"> km
        </label><br><br>
        <label>
            <input type="number" min="0" style="width: 35%;" name="source" value="$solver.getSource().getId()">
            Source ID
        </label>
        <label>
            <input type="number" min="0" style="width: 35%;" name="sink" value="$solver.getTarget().getId()">
            Sink ID
        </label><br><br>
        <button class="button"><span>Go!</span></button><br><br><br> ## TODO fix awful layout
    </form>

    <input type="checkbox" id="poiToggle" onchange="togglePois(this)" checked/><label for="poiToggle">Show POIs</label>
</div>

<div class="main" style="width: 100%; height: 95vh; top: 0; left: 0" id="map"></div>

<!-- Add the Leaflet JavaScript library and plugins -->
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.AnimatedMarker/1.0.0/AnimatedMarker.js"></script>

<script>
    // Create variable to hold map element, give initial settings to map
    var map = L.map('map',{ center: [48, 9.5], zoom: 10});
    // Add OpenStreetMap tile layer to map
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OpenStreetMap', opacity: 0.7 }).addTo(map);


    // Paths
    const colors = ['#f00', '#0f0', '#00f', '#f70', '#fff', '#000'];
    let col_idx = 0;
    const lineStyle = {
        "color": colors[col_idx],
        "weight": 5,
        "opacity": 0.75
    };

    #foreach ($path in $pathJSONs)
        L.geoJSON($path.toString(), {style: lineStyle}).addTo(map);
        lineStyle.color = colors[++col_idx%colors.length];
    #end



    // POIs
    const canvasRenderer = L.canvas({ padding: 0.5 });  ## renderer that draws everything onto a single canvas

    var poiLayer = L.geoJSON($poiGeoJSON.toString(), {
        renderer: canvasRenderer,
        onEachFeature: function (feature, layer) {
            layer.bindPopup(feature.properties.name + " - " + feature.properties.id);
        },
        pointToLayer: function (feature, latlon) {
            let name = feature.properties.name;
            return L.circleMarker(latlon, {
                radius: 6,
                fillColor: colors[name.charCodeAt(name.length-1) % colors.length],
                color: '#000',
                weight: 1,
                opacity: 0.5,
                fillOpacity: 0.7
            });
        }
    }).addTo(map);

    // Toggle: Display/hide POIs
    function togglePois(obj) {
        if (obj.checked) {
            map.addLayer(poiLayer);
        } else {
            map.removeLayer(poiLayer);
        }
    }
</script>
</body>
</html>
